<h3> AGREGAR PRODUCTOS</h3>

<form>
    nombre: <input type="text" name="nombre" id="nombre">
    tipo de producto: <input type="text" name="tipo" id="tipo">
</form>

<h3>LISTA DE PRODUCTOS</h3>



<script src="/socket.io/socket.io.js"></script>
<script src='index.js'></script>